<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание главы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments/header::header"></header>

<div class="d-flex justify-content-center mt-3">
    <div class="col-6">
        <form th:action="@{/makeChapter}" method="post" th:object="${chapter}">
            <input class="form-control" type="text" placeholder="Название главы" th:field="*{title}">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}"
                 th:errors="*{title}"></div>

            <div class="form-group">
                <textarea class="form-control" rows="22" th:field="*{text}"></textarea>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('text')}"
                     th:errors="*{text}"></div>
                <button type="submit" class="btn btn-light mt-1">Добавить</button>
            </div>
        </form>
    </div>
</div>

<div th:insert="fragments/footer::footer"></div>
</body>
</html>